.commentsForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.commentsContainer{
    color: white;
    background-color: rgba(119, 77, 77, 0.164);
   padding: 2%;
}
.comment{
    margin-bottom: 20px;
}
