.commentsForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}
.commentsContainer{
    color: white;
    margin: 3%;
}
.comment{
    margin-bottom: 20px;
}
.comment{
    display: flex;
}