*{
padding: 0;
margin: 0;


}
/* body{
    background-color: black;
} */

@font-face {
    font-family: 'subway-haze';
    src: url('https://www.dafont.com/es/subway-haze.font') format('truetype'); 
    
}
.navBar{
   position: absolute;
   top: 0;
   z-index: 1;
    margin-left: 25px;
    margin-top: 25px;
}

 .bar{
    display: flex;
    list-style-type: none;
    align-items: center;
    
 }
 .A1{
    margin-left: 25px;
    margin-top: 25px;
    
    

 }
 .imgLogo{
    margin-right: 15px;
 }
 .A1{
    margin-bottom: 10px;
 }
 .A1 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'subway-haze'; 

 }
